
@{
    ViewData["Title"] = "Detalles";
}

    <div class="col-6">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="col-6">
        <div></div>
        <div></div>
    </div>

